<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <mappers>
        <mapper resource="com/mapper/AllusersMapper.xml"/>
        <mapper resource="com/mapper/YonghuzhuceMapper.xml"/>
        <mapper resource="com/mapper/XinwentongzhiMapper.xml"/>
        <mapper resource="com/mapper/PinglunMapper.xml"/>
        <mapper resource="com/mapper/ShoucangjiluMapper.xml"/>
        <mapper resource="com/mapper/LiuyanbanMapper.xml"/>
        <mapper resource="com/mapper/YouqinglianjieMapper.xml"/>
        <mapper resource="com/mapper/ZhuceyonghuMapper.xml"/>
        <mapper resource="com/mapper/XiangcexinxiMapper.xml"/>
        <mapper resource="com/mapper/ShipinxinxiMapper.xml"/>
    </mappers>

</configuration>
