# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\12233\Desktop\毕设轮子\1691ssm个人相册管理系统\ssm个人相册管理系统的设计与实现文件2020\ssmgrxcglxthsg7654X1B6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
